{% extends "base.html.twig" %}

{% set user = app.user %}
{% block body %}
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <p>{{ 'connect.confirm.text' | trans({'%service%': service | trans({}, 'HWIOAuthBundle'), '%name%': userInformation.realName}, 'HWIOAuthBundle') }}</p>
            <p>
                <form action="{{ path('hwi_oauth_connect_service', {'service': service, 'key': key}) }}" method="POST">
                    {{ form_widget(form) }}
                    <div>
                        <button type="submit" class="btn btn-primary">{{ 'connect.confirm.submit' | trans({}, 'HWIOAuthBundle') }}</button>
                        <a href="{{ path('user_wall') }}" class="btn">{{ 'connect.confirm.cancel' | trans({}, 'HWIOAuthBundle') }}</a>
                    </div>
                </form>
            </p>
        </div>
        <div class="col-md-6 col-md-offset-3">
            {% if userInformation.profilePicture is defined and userInformation.profilePicture is not empty %}
                <img src="{{ userInformation.profilePicture }}" />
            {% endif %}
        </div>
    </div>

{% endblock %}
