{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">{{ 'dashboard'|trans }}</h1>
        </div>
    </div>
    {% if app.user.facebookAccessToken %}
        <div class="fb-placeholder">
            <h2>Facebook connected!</h2>
        </div>
    {% else %}
        <button class="btn btn-primary" onclick="window.location='{{ path('hwi_oauth_service_redirect', {'service': 'facebook' }) }}'">Connect Facebook Account</button>
    {% endif %}

    {% if app.user.googleAccessToken %}
        <div class="google-placeholder">
            <h2>Google connected!</h2>
        </div>
    {% else %}
        <button class="btn btn-primary" onclick="window.location='{{ path('hwi_oauth_service_redirect', {'service': 'google' }) }}'">Connect Google+ Account</button>
    {% endif %}

    {% if app.user.linkedinAccessToken %}
        <div class="google-placeholder">
            <h2>LinkedIn connected!</h2>
        </div>
    {% else %}
        <button class="btn btn-primary" onclick="window.location='{{ path('hwi_oauth_service_redirect', {'service': 'linkedin' }) }}'">Connect LinkedIn Account</button>
    {% endif %}

    {% if app.user.twitterAccessToken %}
        <div class="google-placeholder">
            <h2>Twitter connected!</h2>
        </div>
    {% else %}
        <button class="btn btn-primary" onclick="window.location='{{ path('hwi_oauth_service_redirect', {'service': 'twitter' }) }}'">Connect Twitter Account</button>
    {% endif %}
{% endblock %}

