{% block form_row %}
    {% spaceless %}
        <div class="form-group">
            {{ form_label(form) }}
            {{ form_errors(form) }}
            {{ form_widget(form) }}
        </div>
    {% endspaceless %}
{% endblock form_row %}

{#{% block form_label %}#}
    {#{% spaceless %}#}
        {#{% if label is not sameas(false) %}#}
            {#{% if not compound %}#}
                {#{% set label_attr = label_attr|merge({'for': id}) %}#}
            {#{% endif %}#}
            {#{% if required %}#}
                {#{% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}#}
            {#{% endif %}#}
            {#{% if label is empty %}#}
                {#{% set label = name|humanize %}#}
            {#{% endif %}#}
            {#<label class="control-label col-md-2" {% for attrname, attrvalue in label_attr %} {{ attrname }}="{{#}
        {#attrvalue}}"{% endfor %}>{{ label|trans({}, translation_domain) }}</label>#}
        {#{% endif %}#}
    {#{% endspaceless %}#}
{#{% endblock form_label %}#}

{#{% block form_widget_simple %}#}
    {#{% spaceless %}#}
        {#{% set type = type|default('text') %}#}
        {#<div class="col-md-5">#}
        {#<input class="form-control" type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}"{% endif %}/>#}
        {#</div>#}
    {#{% endspaceless %}#}
{#{% endblock form_widget_simple %}#}

{#{% block textarea_widget %}#}
    {#{% spaceless %}#}
        {#<div class="col-md-5">#}
        {#<textarea class="form-control" {{ block('widget_attributes') }}>{{ value }}</textarea>#}
        {#</div>#}
    {#{% endspaceless %}#}
{#{% endblock textarea_widget %}#}

{#{% block choice_widget %}#}
    {#{% spaceless %}#}
        {#{% set date_widget = date_widget|default('no') %}#}
        {#{% if date_widget == 'yes' %}#}
            {#<div class="col-md-2">#}
                {#{{ block('choice_widget_collapsed') }}#}
            {#</div>#}
        {#{% else %}#}
                {#{% if expanded %}#}
                    {#{{ block('choice_widget_expanded') }}#}
                {#{% else %}#}
                    {#<div class="col-md-5">#}
                    {#{{ block('choice_widget_collapsed') }}#}
                    {#</div>#}
                {#{% endif %}#}
        {#{% endif %}#}
    {#{% endspaceless %}#}
{#{% endblock choice_widget %}#}

{% block choice_widget_collapsed %}
    {% spaceless %}
        {% if required and empty_value is none and not empty_value_in_choices %}
            {% set required = false %}
        {% endif %}
        <select class="form-control" {{ block('widget_attributes') }}{% if multiple %} multiple="multiple"{% endif %}>
            {% if empty_value is not none %}
                <option value=""{% if required and value is empty %} selected="selected"{% endif %}>{{ empty_value|trans({}, translation_domain) }}</option>
            {% endif %}
            {% if preferred_choices|length > 0 %}
                {% set options = preferred_choices %}
                {{ block('choice_widget_options') }}
                {% if choices|length > 0 and separator is not none %}
                    <option disabled="disabled">{{ separator }}</option>
                {% endif %}
            {% endif %}
            {% set options = choices %}
            {{ block('choice_widget_options') }}
        </select>
    {% endspaceless %}
{% endblock choice_widget_collapsed %}

{% block date_widget %}
    {% spaceless %}
        {% if widget == 'single_text' %}
            {{ block('form_widget_simple') }}
        {% else %}
            <div {{ block('widget_container_attributes') }}>
                {{ date_pattern|replace({
                '{{ year }}': form_widget(form.year, {'date_widget': 'yes'}),
                '{{ month }}': form_widget(form.month, {'date_widget': 'yes'}),
                '{{ day }}': form_widget(form.day, {'date_widget': 'yes'}),
                })|raw }}
            </div>
        {% endif %}
    {% endspaceless %}
{% endblock date_widget %}

{% block checkbox_widget %}
    {% spaceless %}
        <div class="col-md-5">
            <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
        </div>
    {% endspaceless %}
{% endblock checkbox_widget %}