<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}Login - Social Harvester{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    <!-- Custom Fonts -->
    <link href="{{ asset('css/base/all.css') }}" rel="stylesheet" type="text/css">

</head>

<body>

<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel-group" id="accordion">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title text-center">
                            <a data-toggle="collapse" data-parent="#accordion" href="#loginSM">{{ 'sign_in_sm_title'|trans }}</a>
                        </h4>
                    </div>
                    <div id="loginSM" class="panel-collapse collapse">
                        <div class="panel-body">
                            <button class="btn btn-primary btn-block" onclick="window.location='{{ path('hwi_oauth_connect') }}facebook'">{{ 'sign_in_facebook'|trans }}</button>
                            <button class="btn btn-danger btn-block" onclick="window.location='{{ path('hwi_oauth_connect') }}google'">{{ 'sign_in_google'|trans }}</button>
                            <button class="btn btn-info btn-block" onclick="window.location='{{ path('hwi_oauth_connect') }}linkedin'">{{ 'sign_in_linkedin'|trans }}</button>
                            <button class="btn btn-warning btn-block" onclick="window.location='{{ path('hwi_oauth_connect') }}twitter'">{{ 'sign_in_twitter'|trans }}</button>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title text-center">
                            <a data-toggle="collapse" data-parent="#accordion" href="#loginDefault">{{ 'sign_in_title'|trans }}</a>
                        </h4>
                    </div>
                    <div id="loginDefault" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <form action="{{ path('login_check') }}" role="form" method="post">
                                <fieldset>
                                    <div class="form-group">
                                        <input class="form-control" placeholder="E-mail" name="_username" type="email" value="{{ last_username }}" autofocus>
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" placeholder="Password" name="_password" type="password" value="">
                                    </div>
                                    {% if error %}
                                        <div class="form-group text-center text-danger">{{ error.message }}</div>
                                    {% endif %}
                                    <div class="checkbox">
                                        <label>
                                            <input name="_remember_me" type="checkbox" checked>{{ 'remember_me'|trans }}
                                        </label>
                                    </div>
                                    <button type="submit" class="btn btn-lg btn-success btn-block">{{ 'login'|trans }}</button>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- Scheme JavaScripts -->
<script src="{{ asset('js/base/all.js') }}"></script>

<!--[if lt IE 9]>
<script src="{{ asset('js/html5shiv.js') }}"></script>
<script src="{{ asset('js/respond.min.js') }}"></script>
<![endif]-->

</body>

</html>