<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="google-signin-client_id" content="YOUR_CLIENT_ID.apps.googleusercontent.com">

    <title>{% block title %}Register - Social Harvester{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    <!-- Custom Fonts -->
    <link href="{{ asset('css/base/all.css') }}" rel="stylesheet" type="text/css">

</head>

<body>

{% form_theme form 'fields.html.twig' %}

<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel-group" id="accordion">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title text-center">
                            <a data-toggle="collapse" data-parent="#accordion" href="#registerSM">{{ 'register_sm_title'|trans }}</a>
                        </h4>
                    </div>
                    <div id="registerSM" class="panel-collapse collapse">
                        <div class="panel-body">
                            <button class="btn btn-primary btn-block" onclick="window.location='{{ path('hwi_oauth_connect') }}facebook'">{{ 'register_facebook'|trans }}</button>
                            <button class="btn btn-danger btn-block" onclick="window.location='{{ path('hwi_oauth_connect') }}google'">{{ 'register_google'|trans }}</button>
                            <button class="btn btn-info btn-block" onclick="window.location='{{ path('hwi_oauth_connect') }}linkedin'">{{ 'register_linkedin'|trans }}</button>
                            <button class="btn btn-warning btn-block" onclick="window.location='{{ path('hwi_oauth_connect') }}twitter'">{{ 'register_twitter'|trans }}</button>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title text-center">
                            <a data-toggle="collapse" data-parent="#accordion" href="#registerDefault">{{ 'register_title'|trans }}</a>
                        </h4>
                    </div>
                    <div id="registerDefault" class="panel-collapse collapse in">
                        <div class="panel-body">
                            {{ form_start(form) }}
                            <fieldset>
                                {{ form_row(form.username) }}
                                {{ form_row(form.password) }}
                                {{ form_row(form.firstName) }}
                                {{ form_row(form.lastName) }}
                                {{ form_row(form.country) }}
                                <button type="submit" class="btn btn-lg btn-success btn-block">{{ 'register'|trans }}</button>
                            </fieldset>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Scheme JavaScripts -->
<script src="{{ asset('js/base/all.js') }}"></script>

<!--[if lt IE 9]>
<script src="{{ asset('js/html5shiv.js') }}"></script>
<script src="{{ asset('js/respond.min.js') }}"></script>
<![endif]-->

</body>

</html>